/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
    display: flex;
    justify-content: start;
    align-items: center;
    background: #FE5F55;
    height: 100px;
    gap: 40%;
}

header svg {
    margin-left: 7%;
}

header a{
    display: none;
}

@font-face {
    font-family: "Lato";
    src: url("police/Lato.woff.2"), url("police/Lato.woff");
  }
  
  @font-face {
    font-family: "Lato";
    src: url("police/lato-bold.woff.2"), url("police/lato-bold.woff");
    font-weight: bold;
  }

  @font-face {
    font-family: "Lato";
    src: url("police/lato-black.woff.2"), url("police/lato-black.woff");
    font-weight: black;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("police/lato-italic.woff2"), url("police/lato-italic.woff");
    font-style: italic;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  h1 {
    font-weight: bold;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    font-style: black;
    margin-bottom: 50px;
  }  

label {
    display: block;
    font: 2rem 'Lato', sans-serif;
    font-size: large;
    padding-right: 10px;
}

.search {
    width: 300px;
    border-radius: 10px;
    height: 42px;
}

.filters {
    height: 42px;
    margin-top: 10px;
}

.under-menu {
    margin-top: 25px;
    display: flex;
    height: 42px;
    background-color: #D0C7C1;
    opacity: 58%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.under-menu-container {
    display: flex;
    justify-content: center;
}

.recipe {
    color: #2b3464;
    font-weight: bold;
    border: 1px solid #D0C7C1;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 25px;
}

.menu {
    margin-right: 20px;
}

.searchbarre {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input,
label {
    margin: .4rem 0;
}

.fish {
    height: 95px;
    margin-right: 20px;
    margin-left: 20px;
}

.logo {
    width: 61px;
    height: 34.41px;

}

.card-container {
    margin-top: 25px;
}

body {
    font-size: large;
}

.bobun {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.category-jauges {
    display: flex;
}

#file {
    margin-right: 10px;
}

.time-police {
    font-size: medium;
}

.cal-jauges {
    display: flex;
    justify-content: flex-end;
}

.calorie-police {
    font-size: small;
}

#logo {
    align-items: center;
}

.card {
    border-radius: 10px;
    background: #F9EEE7;
    width: 384px;
    height: auto;
    left: 15px;
    top: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.descriptioncontainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.quantity-ingredients {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.ingredients-pics {
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.jauges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.time {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
}

.difficulty {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
}

.calorie {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
}

.price {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.img-plat {
    width: 276px;
    height: 147px;
    left: 55px;
    top: 78px;
}

.new {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.lesaviezvous {
    border-radius: 10px;
    background-color: #DCFFE3;
    width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    margin-top: 50px;
    font-size: 40px;
}


.step {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.stepbtn {
    flex-shrink: 0;
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 10px;
    justify-content: center;
}

li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F9EEE7;
    height: 82px;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 40px solid #FE5F55;
}

.ingredients-container {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.soja {
    margin-top: 10px;
}

.steak {
    margin-top: 10px;
}

.button1 {
    display: flex;
    position: fixed;
    bottom: 40px;
    right: 10px;
}

.add-to-cart {
    box-shadow: 0 8px 16px 0 rgba(9, 7, 126, 0.2), 0 6px 20px 0 rgba(33, 7, 93, 0.19);
  }

  .button-cart {
    background-color: #525C90;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.cart-svg {
    margin-left: 1px;
}

.button2 {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: sticky; 
    bottom: 5px;
}

.add-to-calendar {
    box-shadow: 0 8px 16px 0 rgba(170, 12, 12, 0.2), 0 6px 20px 0 rgba(71, 3, 3, 0.19);
  }

  .button-calendar {
    background-color: #FE5F55;
    border-radius: 20px;
    height: 50px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

@media (min-width: 800px) {

    header a{
        display: block;
        padding: 30px;
        text-decoration: none;
        color: white;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FE5F55;
        height: 100px;
    }

    header svg{
        display: none;
    }

    .bobun {
        margin-top: 1px;
    }

    .descriptioncontainer {
        margin-top: 100px;
        padding: 80px;
    }

    .right-container {
    background-color: #F9EEE7;
    display: flex;
    width: 50%;
    flex-direction: column;
    float: right;
    height: 1068px;
    border-radius: 10px;
    }

    .left-container {
        width: 45%;
    }


    .big-container {
        margin-top: 20px;
    }

}